Flask==3.1.0
folium==0.18.0
matplotlib==3.8.3
numpy==1.23.5  # Perbarui numpy ke versi lebih stabil
opencv_python==4.10.0.84
pandas==1.5.3  # Gunakan versi pandas yang lebih stabil
seaborn==0.13.2
tensorflow==2.16.2  # Versi tensorflow yang cocok
